* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1F2E35;
}

.container {
    width: 100%;

    nav {
        width: 100%;
        padding: 20px 100px;

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 237px;

            .box-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;

                .img-1 {
                    width: 40px;
                    height: 36.36px;
                }

                .img-2 {
                    width: 122px;
                    height: 28px;
                }
            }

            .box-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;

                ul {
                    list-style: none;
                    display: flex;
                    gap: 24px;

                    li {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 28px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }

                .button-1 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding: 10px 25.25px;
                    color: #FFFFFF;
                    border: 1px solid #BCD0E5;
                    background: fixed;
                }

                .button-2 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding: 10px 25.25px;
                    color: #FFFFFF;
                    border: none;
                    background-color: #02897A;
                }

                img {
                    width: 32px;
                    height: 32px;
                }

                .img-2 {
                    display: none;
                }
            }
        }
    }

    header {
        width: 100%;
        padding: 50px 200px;

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .box-1 {
                width: 520px;

                h2 {
                    width: 380px;
                    margin-bottom: 24px;
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 60px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    color: #FFFFFF;
                }

                p {
                    width: 480px;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    color: #FFFFFF;
                    margin-bottom: 24px;
                }

                .input {
                    width: 420px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #EAEAEA;
                    border-radius: 100px;
                    padding: 8px 4px;
                    gap: 15px;
                    margin-bottom: 24px;

                    input {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: -0.03em;
                        text-align: center;
                        background: none;
                        border: none;
                        padding: 10px 40px;
                        border-radius: 100px;
                        color: #FFFFFF;
                    }

                    button {
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 10px;
                        border: none;
                        background-color: #02897A;
                        border-radius: 100px;
                    }
                }
            }

            .box-2 {
                width: 570px;
                img {
                    width: 100%;
                    height: 390px;
                }

            }
        }
    }

    .section-1 {
        width: 100%;
        padding: 50px 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;

        .tittle {
            h2 {
                font-size: 34px;
                font-weight: 700;
                line-height: 51px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 8px;
            }

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;

            }
        }

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 32px;

            .box-1 {
                width: 340px;
                background-color: #FFFFFF;
                border-radius: 8px;
                border: none;

                img {
                    width: 100%;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0px;
                    text-align: left;
                    margin: 24px;

                    b {


                        font-size: 16px;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: 0px;
                        text-align: left;
                    }

                }
                h3{
font-size: 24px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0px;
text-align: left;
color:#22343D;
margin: 0px 24px 40px 24px;
                }


            }
        }
    }
    .section-2{
        width: 100%;
        padding: 50px 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .tittle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            h2{
font-size: 34px;
font-weight: 700;
line-height: 57px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color:#FFFFFF;
margin-bottom: 17px;
            }
            p{
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color:#FFFFFF;
margin-bottom: 65px;
            }
            .img{
                display: flex;
                justify-content: center;
                align-items:center;
                gap: 22px;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .box{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            gap: 50px;
            .box-1{
                img{
                    width: 900px;
                }
            }
            .box-2{
                width: 900px;
                padding: 50px;
                background-color:#22343D;
                border-radius: 1px;
                h2{
font-size: 24px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0.10000000149011612px;
text-align: center;
color:#FFFFFF;
margin-bottom: 45px;
                }
                input{
                    width: 100%;
                    padding: 19px 20px;
                    border-radius: 39px;
                    margin-bottom: 45px;
font-size: 15px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color:#22343D;
                }
                .input-1{
                    height: 200px;
                    padding: 19px 20px 160px 20px;
                    border-radius: 5px;
                    font-size: 15px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color:#22343D;
                }
                button{
                    //styleName: Button;
font-size: 16px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.20000000298023224px;
text-align: center;
padding: 18px 54px;
border-radius:35px;
background-color:#02897A;
border:none;
color:#FFFFFF;


                }
            }
        }
    }
    footer {
        width: 100%;
        padding: 30px 145px;

        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 150px;

            .box-1 {
                .img-1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 25px;
                }

                .img-2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            .box-2 {
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    li {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 35px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #FFFFFF;

                        h3 {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 30px;
                            letter-spacing: 0px;
                            text-align: left;
                            color: #FFFFFF;
                        }
                    }
                }
            }

            .box-3 {
                h2 {
                    width: 280px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    margin-bottom: 34px;
                }

                .card {
                    width: 325px;
                    height: 48px;
                    background-color: #FFFFFF;
                    margin-bottom: 21px;
                }

                button {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 8px 25px;
                    background-color: #02897A;
                    border-radius: 10px;
                    border: none;
                }
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0px;
            text-align: center;
            margin-top: 30px;
            color: #FFFFFF;
        }
    }
}

@media (min-width:1000px) and (max-width:1399px) {
    .container {
        nav {
            padding: 20px 50px;

            .box {
                gap: 100px;
            }
        }

        header {
            padding: 50px 100px;

            .box{
                gap: 50px;
                .box-1{
                    width: 520px;
                }
                .box-2{
                    width: 570px;
                    img{
                        height: 390px;
                    }
                }
            }
        }

        .section-1 {
            padding: 50px 100px;
            .box{
                .box-1{
                    width: 340px;
                }
            }
        }

        .section-2 {
            padding: 50px 100px;
            gap: 50px;
            .box {
                gap: 50px;

                .box-1 {
                    img{
                        width: 900px;
                    }
                }
                .box-2{
                    width: 900px;
                    padding: 50px;
                    .input-1{
                        height: 200px;
                    }
                }
            }
        }

        footer {
            padding: 30px 100px;

            .box {
                gap: 125px;
            }
        }
    }
}
@media (min-width:700px) and (max-width:999px) {
    .container {
        nav {
            padding: 20px 20px;

            .box {
                justify-content: space-between;

                .box-2 {
                    ul {
                        display: none;
                    }

                    button {
                        display: none;
                    }

                    .img-1 {
                        display: none;
                    }

                    .img-2 {
                        display: block;
                    }
                }
            }
        }

        header {
            padding: 50px 20px;

            .box{
                gap: 50px;
                .box-1{
                    width: 520px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    h2{
                        text-align: center;
                    }
                    P{
                        text-align: center;
                    }
                }
                .box-2{
                    width: 570px;
                    img{
                        height: 390px;
                    }
                }
            }
        }

        .section-1 {
            padding: 50px 20px;
            .box{
                .box-1{
                    width: 300px;
                }
            }
        }

        .section-2 {
            padding: 50px 20px;
            gap: 50px;
            .box {
                gap: 50px;

                .box-1 {
                    img{
                        width: 660px;
                    }
                }
                .box-2{
                    width: 660px;
                    padding: 50px;
                    .input-1{
                        height: 200px;
                    }
                }
            }
        }

        footer {
            padding: 30px 100px;

            .box {
                gap: 125px;
            }
        }
    }
}
@media (min-width:300px) and (max-width:699px) {
    .container {
        nav {
            padding: 20px 20px;

            .box {
                justify-content: space-between;
                gap: 30px;
                .box-2 {
                    ul {
                        display: none;
                    }

                    button {
                        display: none;
                    }

                    .img-1 {
                        display: none;
                    }

                    .img-2 {
                        display: block;
                    }
                }
            }
        }

        header {
            padding: 50px 20px;

            .box{
                gap: 50px;
                .box-1{
                    width: 260px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    h2{
                        text-align: center;
                        width: 220px;
                    }
                    P{
                        text-align: center;
                        width: 220px;
                    }
                    .input{
                        width: 260px;
                        input{
                            padding: 10px 20px;
                        }
                    }
                }
                .box-2{
                    width: 260px;
                    img{
                        height: 190px;
                    }
                }
            }
        }

        .section-1 {
            padding: 50px 20px;
            .box{
                .box-1{
                    width: 260px;
                }
            }
        }

        .section-2 {
            padding: 50px 20px;
            gap: 50px;
            .tittle{
                .img{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .box {
                gap: 50px;

                .box-1 {
                    img{
                        width: 260px;
                    }
                }
                .box-2{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    width: 260px;
                    padding: 50px;
                    .input-1{
                        height: 200px;
                    }
                }
            }
        }

        footer {
            padding: 30px 20px;

            .box {
                gap: 125px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                .box-2{
                    ul{
                        li{
                            text-align: center;
                        }
                    }
                }
                .box-3{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items:center;
                    h2{
                        width: 260px;
                        text-align: center;
                    }
                    .card{
                        width: 260px;
                    }
                }
            }
        }
    }
}